.Add-button{
    min-width: 150px;
    max-height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin-top: 36px;
    margin-left: 230px;
    }
    @media screen and (max-width: 890px){
        .Add-button{
        margin-left: auto;
        margin-right: auto;
        min-width: 282px;
                
    }
    }.button:hover{
        opacity: 0.6;
        transition: 0.6s;
    }
        