.main {
    margin: 0;
    background-color: #000000;
    font-family: "inter", Arial, sans-serif;
}
.page {
    width: 100%;
    margin: 0;
    
}

.header {
    border-bottom: 1px solid #545454;
    margin-top: 45px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    height: 74px;
}
.Profile{
    display: flex;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
   
}
.Avatar{
   margin-right: 30px;
}

.Kusto__image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
   
     
}
.Kusto {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        grid-row-gap: 16px;
        grid-column-gap: 18px;
        max-height: 73px;
        margin: 22px 0 0;
    }
    @media screen and (max-width: 450px){
        .Kusto {
            padding-top: 22px;
            text-align: center;
            grid-row-gap: 14px;
            margin: 0 19px;         
        }
        }
    
.Kusto__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
}

.Kusto__text{
height: 18px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 0;
}
.Kusto__edit-button {
    background: url(../images/Vector\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    min-width: 24px;
    min-height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    margin: 0 10px 0 0;
}
.Elements{
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, auto));
    margin-left:auto;
    margin-right: auto;
    margin-top: 47px;  
    column-gap: 17px;
    row-gap: 20px; 
    box-sizing: border-box;
}
.Element__image{
    width: 100%;
    object-fit: cover;
    border-radius:10px 10px 0px 0px ;
}
.Element__texts{
height: 79px;
background: #FFFFFF;
border-radius: 0px 0px 10px 10px;
display: flex;
justify-content: space-around;
}
.Element {
    margin: 0;
    display: flex;
    flex-direction: column;
   
}
.Element__text{
width: 246px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
margin-left: 21px;
margin-top: 25px;
color: #000000;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.Heart__image{
    margin-top: 30px;
    margin-right: 20px;
    width: 22px;
    height: 19px;
}
.footer__copyright{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 67px;
    margin-bottom: 60px;
}

.Add-button{
min-width: 150px;
max-height: 50px;
border: 2px solid #FFFFFF;
border-radius: 2px;
margin-top: 36px;
margin-left: 230px;
}
.Plus__image{
    width: 22px;
    height: 22px;
    margin: 14px 64px; 
}

.button:hover{
    opacity: 0.6;
    transition: 0.6s;
}
@media screen and (max-width: 890px){
.logo{
    margin-top: 28px;
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
}
}
@media screen and (max-width: 450px){
    .header{
    margin-top: 0px;
    height: 84px;
       
    }
    }
 @media screen and (max-width: 890px){
    .Profile{
     flex-direction: column;
     align-items: center;
           
    }
    }
@media screen and (max-width: 450px){
    .Avatar{
    margin: 0;           
    }
    }
    @media screen and (max-width: 450px){
        .Kusto__edit-button {
            min-width: 18px;
            min-height: 18px;
            background-size: 8px;       
        }
        }


@media screen and (max-width: 450px){
.Kusto__title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 27px;
            line-height: 33px;
            text-align: center;          
}
}

@media screen and (max-width: 450px){
    .Kusto__text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;          
    }
    }

    @media screen and (max-width: 450px){
    .Elements{
    margin-top: 36px;           
    }
    }
@media screen and (max-width: 350px){
        .pean{
      margin-top: 0px;
      position: absolute;
      top: 267px;      
      right: 33px;
      width: 18px;
      height: 18px;
    }
    }
    @media screen and (max-width: 890px){
        .Add-button{
        margin-left: auto;
        margin-right: auto;
        min-width: 282px;
                
    }
    }

    @media screen and (max-width: 890px){
        .Plus__image{
            width: 16px;
            height: 16px;
            margin: 17px 133px;
            
        }
        }
        @media screen and (max-width: 580px){
            .Element{
                max-width: 282px;
                margin-left: auto;
                margin-right: auto;
                       
            }
            }
        @media screen and (max-width: 450px){
                .footer__copyright{
                    max-width: 282px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 48px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 36px;
                           
                }
                }
        @media screen and (max-width: 350px){
                    html{
                    margin: 0px;
                    padding: 0px;
                       
                    }
                    }
.popup{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.popup_opened {
    display: block;
}
.popup__container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 35px;
    margin: auto;
    max-width: 430px;
    max-height: 330px;
}

.popup__form{
    border-radius: 10px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    padding: 34px 36px 37px;
}
.popup__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 54px;
    text-align: start;
}
.popup__input{
    border: none;
    margin: 0 0 30px;
    padding: 0 0 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    min-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__button-save {
    background-color: black;
    color: white;
    min-height: 50px;
    margin: 18px 0 0;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    min-width: 100%;
    padding: 0;
}

.popup__close-button {
    background: url(../images/Close\ Icon.png);
    min-width: 32px;
    min-height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-position: center;
    cursor: pointer;
    background-size: contain;
    padding: 0;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    color: #000000;
}


@media screen and (max-width: 450px){
.popup__title {
    margin: 0 0 75px;
    font-size: 18px;
}
}

@media screen and (max-width: 450px){
.popup__button-save {
    min-height: 46px;
    margin: 0px 0 0;
    font-size: 14px;
}
}

@media screen and (max-width: 450px){
.popup__container {
    padding: 36px 19px;
}
}

@media screen and (max-width: 450px){
.popup__form {
    padding: 25px 22px;
}
}
@media screen and (max-width: 450px){
.popup__close-button {
    min-width: 20px;
    min-height: 20px;
    right: 19px;
}
}